.main {


    background-color: beige;
}

.first {
    background-color: aqua;
}

.second {
    background-color: blueviolet;
}

samp {

    background-color:#ffff;
}
span
{

    background-color: #ffff0f;
}
