.tbl1{
  border: 1px solid black;
    
}
.d{
    width: 100%;
    height: 70px;
    width: 300px;

}
.a{
    border: 1px solid black;
    height: 70px;
    width: 20px;

}

.e{
    border: 1px solid black;
    width: 30px;
}
.tbl2{
    height: 60%;
    width: 300px;
}
.f{
    width: 100%;
    border-bottom: 1px solid black;
}
.g{
    width: 100%;
}

