*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-decoration: none;
   list-style-type: none ;
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
}
.navbar{
    background: #0082e6 ;
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    }
nav ul{
float: right;
margin-right: 20px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul a{
    color: white;
    font-size: 17px;
    line-height: 80px;
    margin: 0 5px;
    text-transform: uppercase;
    }
    
@media (max-width:952){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        }
        nav ul li{
            font-size: 16px;
            }

}
@media (max-width:858){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        }
        nav ul li{
            font-size: 16px;
            }
            }







